.table > tbody > tr > td {
    border: 1px solid #DDD;
}

.table > tbody > tr > td.borderless {
    border: none;
}

#courses-skipped-section {
    display: none;
}

#schedule-table > tbody > tr > td {
    width: 33.33%;
}

#schedule-table > tbody > tr {
    height: 57px;
}


/* 
 * Mobile or small-screen styles
 */
@media (max-width:768px) {
}

/*
 * Styles for printing
 */
@media print {
    #header {
        display: none;
    }

    #input-column {
        display: none;
    }
    /*
    body > div > div.row-fluid > div:nth-child(1) {
        display: none;
    }

    body > div > div > div:nth-child(2) > div.page-header.text-right {
        display: none;
    }
    */

    button.btn {
        display: none;
    }
    #table-description {
        display: none;
    }
    #color-key {
        display: none;
    }

    #courses-skipped-section {
        display: block;
    }
}
